*{
    padding: 0;
    margin: 0;
    background-color: #282c34;
    font-family: monospace;
    box-sizing: border-box;
}

.LeadBoxPage{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center; 
    top: 50%; 
    left: 50%; 
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.LeadMedia{
    font-size: 56px;
    padding-top: 15px;
    margin-bottom: 150px;
}

.LeadDeveloped h1{
    font-size: 50px;
    padding-top: 20px;
    color: white;
    margin-bottom: 25px;
}

.LeadHead h1{
    font-size: 55px;
    padding-top: 20px;
    color: white;
}

.LeadHead p{
    color: white;
    font-size: 35px;
    margin: 15px;
}

.LeadHead img{
    pointer-events: none;
}

.LeadResource{
    margin: 20px;
    margin-bottom: 150px;
}

.LeadResource h1{
    font-size: 50px;
    padding-top: 20px;
    color: white;
}

.LeadResource i{
    font-size: 45px;
    margin-top: 15px;
}

.ProjectApp{
    margin-bottom: 60px;
}

.ProjectBox h1{
    font-size: 40px;
    color: #1593ed;
}

.ProjectBox p{
    font-size: 26px;
    padding-right: 15%;
    padding-left: 15%;
    color: white;
}

.ProjectBox a{
    color: #fc3c3c;
    text-decoration: none;
}

.ProjectLanguage i{
    font-size: 40px;
}

.ProjectBox img{
    margin-bottom: 5px;
}

.ProjectLanguage{
    margin-bottom: 15px;
}