*{
    padding: 0;
    margin: 0;
    background-color: #282c34;
    font-family: monospace;
}

@media screen and (max-width: 501px){
    .LeadHead img {display: none;}  
}

@media screen and (max-height: 662px){
    .LeadHead img {display: none;}  
}

.LeadBoxPage{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin-bottom: 25px;
    transform: translate(-50%, -50%);
}

.LeadHead h1{
    font-size: 55px;
    padding-top: 20px;
    color: white;
}

.LeadHead p{
    color: white;
    font-size: 35px;
    margin: 15px;
}

.LeadResource{
    margin: 20px;
}

.LeadHead img{
    pointer-events: none;
}

.LeadResource h1{
    font-size: 50px;
    padding-top: 20px;
    color: white;
}

.LeadDeveloped h1{
    font-size: 50px;
    padding-top: 20px;
    color: white;
}

.LeadResource i{
    font-size: 45px;
    margin-top: 15px;
}

.LeadMedia{
    font-size: 56px;
    padding-top: 15px;
}